{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "react-hooks",
    "@typescript-eslint"
  ],
  "extends": [
    "react-app",
    "plugin:mdx/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "packages/shared/node_modules",
          "packages/react-ui/node_modules",
          "packages/react-ui/src"
        ]
      }
    }
  },
  "rules": {
    // note you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "prettier/prettier": "error",
    "import/no-cycle": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/no-array-index-key": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx",
          ".mdx"
        ]
      }
    ]
  }
}
